<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.profil.smpn3talang">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPN3TALANG"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Album14Activity"
            android:exported="false" />
        <activity
            android:name=".Album13Activity"
            android:exported="false" />
        <activity
            android:name=".Album12Activity"
            android:exported="false" />
        <activity
            android:name=".PaskibActivity"
            android:exported="false" />
        <activity
            android:name=".JurnalisActivity"
            android:exported="false" />
        <activity
            android:name=".Album11Activity"
            android:exported="false" />
        <activity
            android:name=".SilatActivity"
            android:exported="false" />
        <activity
            android:name=".album10Activity"
            android:exported="false" />
        <activity
            android:name=".BebasActivity"
            android:exported="false" />
        <activity
            android:name=".Absen2Activity"
            android:exported="false" />
        <activity
            android:name=".AdminAbsenActivity"
            android:exported="false" />
        <activity
            android:name=".AbsenActivity"
            android:exported="false" />
        <activity
            android:name=".album9Activity"
            android:exported="false" />
        <activity
            android:name=".album8Activity"
            android:exported="false" />
        <activity
            android:name=".album7Activity"
            android:exported="false" />
        <activity
            android:name=".PrestasiActivity"
            android:exported="false" />
        <activity
            android:name=".FasilitasActivity"
            android:exported="false" />
        <activity
            android:name=".GuruActivity"
            android:exported="false" />
        <activity
            android:name=".VoliActivity"
            android:exported="false" />
        <activity
            android:name=".FutsalActivity"
            android:exported="false" />
        <activity
            android:name=".PmrActivity"
            android:exported="false" />
        <activity
            android:name=".PramukaActivity"
            android:exported="false" />
        <activity
            android:name=".Eskul"
            android:exported="false" />
        <activity
            android:name=".Buku9"
            android:exported="false" />
        <activity
            android:name=".Buku8"
            android:exported="false" />
        <activity
            android:name=".Buku7"
            android:exported="false" />
        <activity
            android:name=".Perpus"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>